#itemInfo {
    text-align: center;
    color: var(--text-color-content);
}

.inputItem {
    display: block;
    margin: auto;
    padding: 0 10px;
    width: 400px;
    height: 40px;
    background-color: var(--bg-color-nav);
    color: var(--text-color-nav);

    font-size: 15px;

    cursor: pointer;
}

#confirmItem {
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    background-color: var(--bg-color-search);
    color: var(--text-color-search);
    border: solid 3px var(--bg-color-nav);
}