*{
    margin: 0;
    padding: 0;
    transition: 0s, background-color 0.5s, color 0.5s;
    box-sizing: border-box;
}

:root {
    /*Alturas*/
    --nav-height: 80px;
    --search-height: 30px;

    /*Fonte*/
    --text-font: 'Sawarabi Gothic', sans-serif;
}



/*Envolve toda página*/
body{
    background-color: var(--bg-color-content);
    overflow: auto;
}

body::after{
    clear:both;
}

.dark-theme, light-theme{
    background-color: var(--bg-color-content);
    overflow: auto;
}

/*Conteúdo*/
#content{
    min-width: 600px;
    height: calc(100vh - var(--nav-height));

    background-color: var(--bg-color-content);
    overflow: auto;
}



/*Barra de navegação*/
#navBar{
    min-width: 600px;
    height: var(--nav-height);

    background-color: var(--bg-color-nav);

    display: flex;
    vertical-align: center;
}



/*Texto com o nome do usuário na barra de navegação*/
#userNav{
    margin-right: 40px;
    margin-left: 40px;
    line-height: var(--nav-height);

    font-size: 1.5em;

    float: right;
    border: none;

    color: var(--text-color-nav);
    background-color: var(--bg-color-nav);

    cursor: pointer;
}



/*Botão para mudança do tema*/
#switchTheme {
    line-height: var(--nav-height);
    font-size: 2em;

    color: var(--text-color-nav);
    background: none;

    border: none;

    float:right;

    cursor: pointer;
}



/*Logo na barra de navegação*/
#logo{
    margin-left: 80px;
    margin-right: 40px;
    line-height: var(--nav-height);

    font-size: 2.9em;

    float:left;
    border: none;

    color: var(--text-color-nav);
    background-color: var(--bg-color-nav);

    cursor: pointer;
}



/*Barra de pesquisa na barra de navegação*/
#search{
    width: 200px;

    margin: auto 40px auto auto;
    height: var(--search-height);
    
    background-color: var(--bg-color-search);
    border-radius: 100px;
    
    display: flex;
    vertical-align: center;
    float: right;
}

#search input{
    display: inline-block;
    outline: none;
    border: none;
    
    width: 140px;
    height: var(--search-height);
    
    margin-left: 20px;

    background-color: transparent;
    color: var(--text-color-search);

    display: flex;
    vertical-align: center;
}

#search i{
    margin-right: 20px;
    margin-left: 10px;
    line-height: var(--search-height);
    font-size: calc(var(--search-height)/2);
    color: var(--text-color-search);
    float: right;
}