.div_center {
	margin: 0 auto;
	width: fit-content;
	height: fit-content;

	align-content: center;

	text-align: center;

	border: 1px solid gray;
}

.admDiv {
	display: flex;
	padding: 10px 30px 10px 40px;
	background-color: var(--bg-color-nav);
	margin: 10px;
}
.admDelBtn {
	background-color: var(--bg-color-nav);
	margin: 10px;
	color: red;
	width: 100%;
	height: 100%;
}

.admDelBtn:hover {
	cursor: pointer;
}

.admText {
	background-color: var(--bg-color-nav);

	color: var(--text-color-nav);
	text-align: left;
}
