.div_center {
	margin: 0 auto;
	width: fit-content;
	height: fit-content;

	align-content: center;

	text-align: center;

	border: 1px solid gray;
}

.admDiv {
	display: flex;
	align-items: stretch;
	justify-content: left;

	gap: 12px;

	padding: 10px 0px 10px 11px;
	background-color: var(--bg-color-nav);
	margin: 5px;
}

.admDelBtn {
	background-color: var(--bg-color-nav);
	font-size: 20px;

	vertical-align: middle;
	color: red;
	text-align: center;
	height: 100%;

	padding-left: 11px;
	padding-right: 11px;
}

.admDelBtn:hover {
	cursor: pointer;
}

.admText {
	background-color: var(--bg-color-nav);
	width: 85%;
	color: var(--text-color-nav);
	text-align: left;
}

.newAdm {
	color: var(--text-color-nav);
}
