#detailsContainer {
	margin: 40px 40px 40px 20px;
	background-color: var(--bg-color-content);
	color: var(--text-color-content);

	width: calc(100% - 520px);
	min-height: calc(100vh - var(--nav-height) - 40px);
	float: right;
	overflow: auto;
}

#detailsImg {
	width: 400px;
	margin: 40px 20px 40px 40px;
	float: left;
}

#detailsName {
	font-size: 24px;
}

#detailsId {
	font-size: 12px;
}

#detailsText {
	font-size: 14px;
}

#detailsQuantity {
	font-size: 14px;
}

#buyButton {
	width: 120px;
	height: 40px;
	font-size: 1em;
	padding: 5px;
	border-radius: 4px;
}
