#cart{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cartItem{
    background-color: var(--bg-color-nav);
    margin: 15px;
    padding: 10px;
    color: var(--text-color-nav);
    text-align: center;
    width: 225px;
}

.cartItemText{
    margin: 2px 10px 5px;
    text-align: left;
}

.cartItem img{
    margin: 0px 0px 5px;
    height: 200px;
    width: 200px;
}

#emptyText {
    color: var(--text-color-content);
    margin: 30px auto;
    font-size: 30px;
}

#cartBtns {
    text-align: center;
}